/*
TODO:  Add a div to toggle navbar items when with under 768px;
- Add z-index to stay in foreground
- Position absolute to make independ

*/

@import url("helper.css");

.hidden {
  display: none !important;
}

[data-key="header"] {
  background-color: var(--color-light-accent-grey);
  color: var(--color-light-accent-black);
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
}

.menu-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-link a {
  display: block;
  position: relative;
  color: var(--color-light-accent-black);
  text-decoration: none;
  height: 100%;
  padding: 0 1.5rem;
  line-height: var(--navbar-height);
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.menu-link a:hover {
  background-color: var(--color-light-accent-lightgrey);
  border-radius: 5%;
}

/* Seperate site name and other elements */
.menu-list-wrapper > li:first-child {
  font-weight: bold;
}

.menu-link:nth-child(2) {
  margin-left: auto;
}

.subnav-wrapper {
  display: none;
  position: absolute;
  background-color: var(--color-light-white);
  box-shadow: 0px 10px 20px 0px var(--color-grey95);
  z-index: 1;
}

.has-subnav::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6rem;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-light-accent-black);
  margin-left: 0.5rem;
  transition: background-color var(--transition-dur) ease-in-out;
}

.has-subnav:hover::before {
  filter: brightness(1.3);
  background-color: var(--color-light-blue);
}

@media (max-width: 768px) {
  [data-key="header"] {
    height: unset;
  }

  .nav-wrapper {
    position: relative;
    top: 0;
  }

  .menu-list-wrapper {
    flex-direction: column;
  }

  .menu-list-wrapper a,
  .menu-list-wrapper li,
  .menu-list-wrapper ul {
    width: 100%;
  }

  .menu-link:nth-child(2) {
    margin-left: unset;
  }

  .menu-link a {
    padding: 0.75rem;
  }

  .has-subnav::before {
    position: relative;
    left: -0.5rem;
    top: 0;
  }
}
